<footer class="footer">
    <div class="container">
        <div class="row">
           
            <div class="col-lg-6 text-end">
                
                <ul class="list-inline social-icons">
                    <li class="list-inline-item"><a href="https://www.facebook.com" target="_blank"><i class="pi pi-facebook" style="font-size: 1.5rem"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com" target="_blank"><i class="pi pi-instagram"style="font-size: 1.5rem"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
