 <!-- perfil.component.html -->
 <div class="profile-container">
  <div class="profile-picture" (click)="sidebarVisibleR = true">
    <img src="assets/imagenes/anne.jfif" alt="Foto de perfil">
  </div>
</div>

<div class="card flex flex-column align-items-center gap-2">
  <p-sidebar [(visible)]="sidebarVisibleR" position="right">

    <div class="profile-info">
      <!-- Información básica del perfil -->
      <p>Nombre: {{ user.name }}</p>
      <p>Email: {{ user.email }}</p>
      <!-- Otros campos de información del usuario según sea necesario -->
      <button (click)="logout()">Cerrar Sesión</button>
    </div>

  </p-sidebar>
</div>
